.lstr-classic-hotelview {
    position: absolute;
    width: 100%;
    height: calc(100% - 54px);
    background: rgba($black, 1);

    .background {
        height: 100%;
        width: 100%;
        background-position: left;
        background-repeat: repeat-y;
    }

    .drape {
        left: 0px;
        top: 0;
        animation-iteration-count: 1;
        animation-name: slideDown;
        animation-duration: 1s;
        z-index: 3;
    }

    .sun {
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    .left {
        bottom: 0;
        left: 0;
        animation-iteration-count: 1;
        animation-name: slideUp;
        animation-duration: 1s;
    }

    .right {
        right: 0;
        bottom: 0;
        animation-iteration-count: 1;
        animation-name: slideUp;
        animation-duration: 1s;
    }

    .rightRepeat {
        right: 0;
        top: 0;
        animation-iteration-count: 1;
        animation-name: slideRight;
        animation-duration: 1s;
    }
}
