.interstitial-view {
    background: rgba($black, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999999999999;
    display: flex;
    justify-content: center;
    align-items: center;

    .lstr-classic-frame {
        min-width: 250px;
    }
    .interstitial-image {
        width: 600px;
        height: 360px;
        margin-bottom: 5px;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
    }
}
