.lstr-classic-authenticate {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    top: 0;
    margin-bottom: 54px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 212px;
}
