$iconUrl: "../../assets/images/navigator/";

.classic-navigator {
    right: 12px;
    top: 37px;
    width: 363px;
    height: 453px;

    .classic-tabs {
        margin-top: 2px;
        display: flex;

        span {
            margin-top: 5px;
        }
        &:nth-child(2) {
            margin-left: -1px;
        }

        .tab-icon {
            background-image: url($iconUrl + "tabs.png");
            margin-right: 5px;

            &.public {
                width: 47px;
                height: 49px;
                background-position: 0 49px;
            }

            &.guest {
                margin-top: 3px;
                margin-left: 1px;
                margin-right: 12px;
                width: 38px;
                height: 41px;
                background-position: -47px -41px;
            }
        }

        &.active {
            .tab-icon {
                &.public {
                    background-position: 0 0px;
                }
                &.guest {
                    background-position: -47px 0px;
                }
            }
        }
    }

    .classic-navigator-body {
        margin-top: -7px;
        z-index: 2;
        padding: 9px 5px;
    }

    .classic-navigator-info {
        margin-top: -12px;
        .classic-navigator-info-content {
            height: 96px;
        }
    }

    .classic-navigator-category-title {
        margin-left: 17px;
    }

    .classic-navigator-single-category,
    .classic-navigator-category {
        padding-right: 4px;
        > div {
            &:not(:last-child) {
                margin-bottom: 2px;
            }
        }
    }

    .classic-navigator-single-category {
        min-height: 64px;
        max-height: 64px;
        margin-top: 2px;
        margin-bottom: 7px;
    }

    .classic-navigator-go {
        width: 58px;
        margin-left: 2px;
        text-align: right;
    }

    .classic-navigator-arrow-right {
        background-image: url($iconUrl + "arrow-right.png");
        width: 7px;
        height: 8px;
        align-self: center;
        background-position: right;
        margin-top: -2px;
        margin-left: 4px;
        flex-shrink: 0;
        &.wide {
            width: 21px;
        }
    }

    .classic-navigator-arrow-left {
        background-image: url($iconUrl + "arrow-left.png");
        width: 7px;
        height: 8px;
        align-self: center;
        background-position: right;
        margin-top: -2px;
        &.wide {
            width: 14px;
        }
        margin-right: 4px;
    }

    .classic-navigator-sub {
        margin-top: -7px;
        margin-bottom: -7px;
        padding-bottom: 7px;
        .classic-navigator-sub-text {
            padding: 6px;
            padding-left: 22px;
            font-family: pixel-bold;
            color: #315b5b;
            cursor: pointer;
        }
    }

    .classic-navigator-sub-menu-tabs {
        z-index: 9;
        margin-top: -7px;
        margin-bottom: -10px;

        &.menuEnabled {
            margin-bottom: -12px;
        }

        .classic-navigator-sub-menu-tab {
            border-image-slice: 8 fill;
            border-image-width: 8px;
            border-image-source: url($iconUrl + "tab.png");
            border-image-repeat: repeat;
            padding: 6px 5px;

            align-items: center;

            &:not(:first-child) {
                margin-left: -1px;
            }
            &.active {
                border-image-source: url($iconUrl + "tab-active.png");
                &.hasMenu {
                    border-image-source: url($iconUrl + "tab-active-2.png");
                }
            }

            .tab-icon {
                background-image: url($iconUrl + "icons.png");
                margin-right: 5px;

                &.search {
                    width: 14px;
                    height: 14px;
                    background-position: 0 -14px;
                }

                &.my {
                    width: 15px;
                    height: 15px;
                    background-position: 0 15px;
                }
            }

            &.active {
                .tab-icon {
                    &.search {
                        background-position: -14px -14px;
                    }
                    &.my {
                        background-position: -15px 15px;
                    }
                }
            }
        }
    }

    .classic-navigator-sub-padding {
        padding-top: 12px;
    }

    .hasSubmenu {
        padding-top: 23px;
        &.isSubCategory {
            padding-top: 15px;
        }
    }

    .classic-navigator-sub-menu {
        z-index: 8;
        padding: 0 7px 6px 7px;
        padding-top: 16px;
        margin-bottom: -12px;
    }

    .nav-icon {
        flex-shrink: 0;
        &.rom {
            width: 19px;
            height: 36px;
            background-image: url($iconUrl + "rom.png");
        }
    }
}
